@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');




:root{
    --font01: "League Spartan";
    --font02: 'Sriracha', 'cursive';
    --font03: "Passion One", 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
}

header{
    text-align: center;
    color: white;
    background-color: black;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font01);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
    font-family: var(--font01);
    font-size: 2.9vw ;
}

header a{
    font-family: var(--font01);
    font-size: 3.5vw;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}    

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
}


section > pre{
    white-space: pre-line;
    font-family: var(--font02);
    font-size: 3vw;
    padding: 5px;
    letter-spacing: 1px;

}

section pre p{
    letter-spacing: 3px;
    font-size: 0.7em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.678);
    background-attachment: fixed;
}

section.imagem pre > p{
    display: inline-block;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}


.league-spartan{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}